@model MVCLite.Areas.Manage.ViewModels.Config
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-x" action="">
    <div class="form-group">
        <div class="label">
            <label>网站标题：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.stitle, new { @class="input"})
            <div class="tips">@Html.ValidationMessageFor(m=>m.stitle)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>昵称：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.name, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.name)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>网站LOGO：</label>
        </div>
        <div class="field">
            <input type="text" id="url1" name="slogo" class="input tips" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right" data-image="" />
            <input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传">
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>皮肤选择：</label>
        </div>
        <div class="field">
            <select name="cid" class="input w50">
                <option value="default">默认皮肤</option>
                <option value="blue">蓝天大海</option>
            </select>
            <div class="tips"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>网站域名：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.surl, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.surl)</div>
        </div>
    </div>
    <div class="form-group" style="display:none">
        <div class="label">
            <label>副加标题：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.sentitle, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.sentitle)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>网站关键字：</label>
        </div>
        <div class="field">
            @Html.TextAreaFor(m => m.skeywords, new { @class = "input" ,style= "height:80px" })
            <div class="tips">@Html.ValidationMessageFor(m => m.skeywords)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>网站描述：</label>
        </div>
        <div class="field">
            @Html.TextAreaFor(m => m.sdescription, new { @class = "input"})
            <div class="tips">@Html.ValidationMessageFor(m => m.sdescription)</div>
        </div>
    </div>
   
    <div class="form-group">
        <div class="label">
            <label>QQ：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.s_qq, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.s_qq)</div>
        </div>
    </div>
    <div class="form-group" style="display:none">
        <div class="label">
            <label>QQ群：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.s_qqu, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.s_qqu)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <label>Email：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.s_email, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.s_email)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label>地址：</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(m => m.s_address, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.s_address)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <label>底部信息：</label>
        </div>
        <div class="field">
            @Html.TextAreaFor(m => m.scopyright, new { @class = "input" })
            <div class="tips">@Html.ValidationMessageFor(m => m.scopyright)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label">
            <label></label>
        </div>
        <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
    </div>
</form>